html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Assistant', sans-serif;
}

#title-banner {
    height: 70px;
    width: 100%;
    background: linear-gradient(to right, #90db45, #72c91c, #73d115, rgb(252, 98, 42),
    #fc4036, #4badf3);
    margin-bottom: auto;
}
#title {
    color: rgb(255, 255, 255);
    margin-top: 5px;
    margin-left: 5px;
    font-size: 48pt;
}

.calc-container {
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(100px, auto) repeat(5, 1fr);
    padding: 10px;
    height: 550px;
    width: 350px;
    background: linear-gradient(45deg, rgb(219, 219, 219), rgb(94, 94, 94));
    border-radius: 10px;
    box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.5);
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    margin: 5px;
    border: 1px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    box-shadow: 2px -2px 5px rgba(0, 0, 0, 0.5);
}

.operator-buttons {
    background: linear-gradient(to right, rgb(250, 133, 90), rgb(252, 98, 42));
}

button:active {
    transform: scale(0.91);
    filter: brightness(80%);
    box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.5);

}


.screen {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    grid-column-start: span 4;
    background: rgb(248, 248, 248);
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    box-shadow: inset 2px -2px 5px rgba(0, 0, 0, 0.5);
}

#previous-input {
    height: 50%;
    width: auto;
    padding: 10px;
    align-self: flex-end;
    color: rgba(0, 0, 0, 0.75);
}

#current-input {
    height: 50%;
    width: auto;
    padding: 10px;
    align-self: flex-end;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 1.5rem;
}


#clear {
    grid-column-start: span 2;
    background: linear-gradient(to right, #90db45, #72c91c);
}

#delete {
    background: linear-gradient(to right, #fc6760, #fc4036);
}

#equals {
    grid-column-start: span 2;
    background: linear-gradient(to right, #4badf3, #2a97e6);
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    width: 100%;
    margin-top: auto;
    background: rgba(0, 0, 0, 0.05);

}

#sandoval {
    margin-right: 5px;
    color: rgba(0, 0, 0, 0.5);
}